.headline { 
  display: flex;
  align-items: center;

  .headline__left {
    height: 1px;
    background-color: var(--color-black);
    width: 10%;
  }
  .headline__text {
    font-size: 8rem;
  }
  .headline__right {
    height: 1px;
    background-color: var(--color-black);
    width: 100%;
  }
}