.skill_list {

  .swiper_navigation {
    display: flex;
    justify-content: right;
    gap: 1rem;
    margin-right: 1rem;

    .swiper_navigation_btn {
      cursor: pointer;
    }
  }

	.container {
    display: flex;
    justify-content: right;
    
		.skill {
      display: flex;
      width: 1280px;
      padding: 2rem 1rem;
      align-items: flex-start;
      justify-content: right;
      text-align: left;
      margin: 0;
      &.skill > div {
        height: auto;
      }
      
			.item {
        border: 1px solid var(--color-black);
        width: 300px;
        height: fit-content;
        flex-shrink: 0;
        
        .title {
          padding-top: 1.5rem;
          padding-bottom: 1rem;
          margin: 0rem 1rem;
          font-size: 1.5rem;
        }

        .description {
          margin: 0rem 1rem;
          line-height: 1.3rem;
          padding-bottom: 1rem;
        }
			}

      .skill_tag {
        display: flex;
        flex-wrap: wrap;
        
        .tag {
          border-top: 1px solid var(--color-black);
          padding: 0.5rem 1rem;
          width: 100%;
          cursor: pointer;
        }
      }
		}
	}
	
}